.layout-card {

    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .card-n {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-basis: 20%;
        border: 2px rgb(203, 203, 203) solid;
        border-radius: 6px;
        box-shadow: 3px 3px 8px gray;
        padding: 10px;

        .card-d {
            height: 5rem;
            overflow-y: auto;
        }
    }
}
