// COLORE NAVBAR PRIMARIA (HEADER)
$light: #ffe7bc;
$dark: #4b3c3d;

$borderColorHeaderLight: #b6b6b6;
$borderColorHeaderDark: #3b3b3b;

$bgButtonHeaderLight: #f4d295;
$bgButtonHeaderDark: #554e4f;

$bgHoverButtonHeaderLight: #faebd0;
$bgHoverButtonHeaderDark: #504344;

$bgActiveButtonHeaderLight: #ceb890;
$bgActiveButtonHeaderDark: #694a4c;

// CORPO DELLA NAVBAR IN VERSIONE MOBILE (HEADER)
$bgBottomVersionMobileLight: #fbd7da;
$bgBottomVersionMobileDark: #413838;

$textButtonLight: #373737;
$textButtonDark: #e0e0e0;

$textHoverButtonLight: #725013;
$textHoverButtonDark: #ffd6d6;

// BODY DEL SITO
$bgBodyLight: #fff8dc;
$bgBodyDark: #4e4344;

// CARD
$bgCardLight: #e9c797;
$bgCardDark: #4d3133;

// HERO DELLA PAGINA DEI PIATTI
$bgHeroPlateLight: #fff7c3;
$bgHeroPlateDark: #533235;

// FOOTER
$bgFooterLight: #e9d0a4;
$bgFooterDark: #46393a;

$bgFooterBottomLight: #fff7bc;
$bgFooterBottomDark: #6d5b5d;

// FOOTER HOVER
$textHoverFooterButton: #2285D4;

// CAMPO PER IL FILTRO DEI RISTORANTI
$bgButtonTypologyLight: #f4d295;
$bgButtonTypologyDark: #46393a;

$bgHoverButtonTypologyLight: #ffecee;
$bgHoverButtonTypologyDark: #685456;

$bgActiveButtonTypologyLight: #f3b546;
$bgActiveButtonTypologyDark: #533133;

$textButtonTypologyLight: #141313;
$textButtonTypologyDark: #f0dbdd;

// HERO MAIN
$bgHeroRestaurantsLight: #ffeceee8;
$bgHeroRestaurantsDark: #685456e8;

$bgHeroButtonRestaurantsLight: #e05a67;
$bgHeroButtonRestaurantsDark: #64262c;



// MISURE
$headerHeight: 50px;
