// COLORI
$light: #f0c3c6;
$dark: #4b3c3d;

$borderColorHeaderLight: #b6b6b6;
$borderColorHeaderDark: #3b3b3b;

$bgButtonHeaderLight: #f3e3e4;
$bgButtonHeaderDark: #554e4f;

$bgHoverButtonHeaderLight: #fcced1;
$bgHoverButtonHeaderDark: #7c494d;

$bgActiveButtonHeaderLight: #dfb5b8;
$bgActiveButtonHeaderDark: #694a4c;

$bgBottomVersionMobileLight: #fbd7da;
$bgBottomVersionMobileDark: #413838;

$textButtonLight: #373737;
$textButtonDark: #e0e0e0;

$textHoverButtonLight: #ce1414;
$textHoverButtonDark: #4d0505;

$bgBodyLight: #fbd7da;
$bgBodyDark: #4e4344;

$bgCardLight: #c97980;
$bgCardDark: #4d3133;

$bgHeroPlateLight: #c97980;
$bgHeroPlateDark: #533235;

$bgFooterLight: rgb(204, 204, 204);
$bgFooterDark: #585858;



// MISURE
$headerHeight: 50px;
