// COLORI
$primaria: #f0c3c6;
$borderColorHeader: #b6b6b6;
$bgButtonHeader: #f3e3e4;
$bgHoverButtonHeader: #fcced1;
$bgActiveButtonHeader: #dfb5b8;
$bgBottomVersionMobile: #fbd7da;
$textButton: #373737;



// MISURE
$headerHeight: 50px;
