#modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #bababa84;

    .body-modal {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            font-size: 2rem;
        }

        div {
            display: flex;
            gap: 2rem;

            .btn {
                padding: 1rem 2rem !important;
                border-radius: 20px !important;
                font-size: 1.2rem;
                text-transform: uppercase;
                transition: transform 0.2s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                &:active {
                    transform: scale(1);
                }
            }

            .btn-si {
                &:hover {
                    animation: pulsazione-si 1s infinite;
                }
            }

            .btn-no {
                &:hover {
                    animation: pulsazione-no 1s infinite;
                }
            }
        }
    }
}

@keyframes pulsazione-si {
    0% {
        box-shadow: 0 0 0 red;
    }
    50% {
        box-shadow: 0 0 30px red;
    }
    100% {
        box-shadow: 0 0 30px rgba(255, 0, 0, 0);
    }
}

@keyframes pulsazione-no {
    0% {
        box-shadow: 0 0 0 green;
    }
    50% {
        box-shadow: 0 0 30px green;
    }
    100% {
        box-shadow: 0 0 30px rgba(0, 128, 0, 0);
    }
}
