::-webkit-scrollbar {
    appearance: none;
    width: 5px;
}

::-webkit-scrollbar-track {
    appearance: none;
    background-color: #e0e0e0;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background-color: #858585;
    border-radius: 50px;
}
